.container {
  padding: 20px;
  height: 100vh;
  overflow: auto;
  display: flex;
}

.left {
  width: 50%;
}

.right {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.operate {
  padding-top: 20px;
  & > * {
    margin-right: 20px;
  }
}

.result {
  flex: 1;
  overflow: hidden;
}

.resultList {
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.bottom {
}

.tip {
  margin: 40px auto 0;
  width: 400px;
  max-width: 90%;
  text-align: left;

  p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  ul {
    margin-top: 20px;
    list-style: decimal;
    padding: 0;
  }

  li {
    line-height: 26px;
  }
}
